Segmentacion/EMPLOYEE_ATTR/malla/employee_attr_seg.json
{
    "Comment": "Spark ETL State Machine",
    "StartAt": "Parallel Task_1",
    "States": {
        "Parallel Task_1": {
            "Type": "Parallel",
            "Branches": [                   {
                                         "StartAt":"Spark_Job_J01_analytics-job-files/tb_reg_employee_attr_ar_analyticssec",
                                         "States":{
                                                            "Spark_Job_J01_analytics-job-files/tb_reg_employee_attr_ar_analyticssec": {
                                                                                    "Type": "Pass",
                                                                                    "Parameters": {
                                                                                        "StepArguments": {
                                                                                            "ClusterId.$": "$.clusterId",
                                                                                             "Args": [
                                                                                                {
                                                                                                    "Arg1": "/usr/bin/spark-submit"
                                                                                                },
                                                                                                {
                                                                                                    "Arg2": "--conf"
                                                                                                },
                                                                                                {
                                                                                                    "Arg3": "spark.yarn.appMasterEnv.PYTHONIOENCODING=utf8"
                                                                                                },
                                                                                                {
                                                                                                    "Arg4": "--packages"
                                                                                                },
                                                                                                {
                                                                                                    "Arg5": "com.databricks:spark-redshift_2.11:3.0.0-preview1,org.apache.spark:spark-avro_2.11:2.4.4"
                                                                                                },
                                                                                                {
                                                                                                    "Arg6": "/home/hadoop/SparkTransform/SparkTransform.py"
                                                                                                },
                                                                                                {
                                                                                                    "Arg7.$": "$.jobsBucket"
                                                                                                },
                                                                                                {
                                                                                                    "Arg8": "analytics-job-files/tb_reg_employee_attr_ar_analyticssec"
                                                                                                },
                                                                                                {
                                                                                                    "Arg9.$": "$.workflowName"
                                                                                                },
                                                                                                {
                                                                                                    "Arg10": "emplgroup_attr_ar"
                                                                                                },
                                                                                                {
                                                                                                    "Arg11.$": "$.startDate"
                                                                                                },
                                                                                                {
                                                                                                    "Arg12.$": "$.lastDate"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "ResultPath": "$.taskresult",
                                                                                    "Next": "Exec_Spark_Job_J01_analytics-job-files/tb_reg_employee_attr_ar_analyticssec"
                                                                                },
                                                     
                                                     "Exec_Spark_Job_J01_analytics-job-files/tb_reg_employee_attr_ar_analyticssec": {
                                                                                "Type": "Task",
                                                                                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                                                                                "Parameters": {
                                                                                               "ClusterId.$": "$.clusterId",                    
                                                                                                 "Step": {
                                                                                                    "Name": "Spark_Job_J01_analytics-job-files/tb_reg_employee_attr_ar_analyticssec",
                                                                                                    "ActionOnFailure": "CONTINUE",
                                                                                                    "HadoopJarStep": {
                                                                                                        "Jar": "command-runner.jar",
                                                                                                        "Args.$": "$.taskresult.StepArguments.Args[*][*]"
                                                                                                    }
                                                                                                 }
                                                                                },  
                                                                                "Retry": [
                                                                                            {
                                                                                                "ErrorEquals": ["States.ALL"],
                                                                                                "IntervalSeconds": 10,
                                                                                                "MaxAttempts": 1,
                                                                                                "BackoffRate": 1.5
                                                                                            }
                                                                                        ],
                                                                                 "Catch": [   {
                                                                                              "ErrorEquals": ["CustomError"],
                                                                                              "Next": "FailBranch_1"
                                                                                            }, 
                                                                                            {
                                                                                               "ErrorEquals": ["States.ALL"],
                                                                                               "Next": "FailBranch_1"
                                                                                            }
                                                                                        ],
                                                                                                            
                                                                                "ResultPath": "$.taskresult",
                                                                                "Next": "SuccessBranch_1"
                                                                            },
                                "SuccessBranch_1": {
                                                "Type": "Pass",
                                                "End": true
                                            },
                                "FailBranch_1": {
                                                    "Type": "Fail",
                                                    "Cause": "Level_Error",
                                                    "Error": "Level_Error"
                                                    }
                                            }},                   {
                                         "StartAt":"Spark_Job_J02_analytics-job-files/tb_reg_employee_attr_br_analyticssec",
                                         "States":{
                                                            "Spark_Job_J02_analytics-job-files/tb_reg_employee_attr_br_analyticssec": {
                                                                                    "Type": "Pass",
                                                                                    "Parameters": {
                                                                                        "StepArguments": {
                                                                                            "ClusterId.$": "$.clusterId",
                                                                                            "Args": [
                                                                                                {
                                                                                                    "Arg1": "/usr/bin/spark-submit"
                                                                                                },
                                                                                                {
                                                                                                    "Arg2": "--conf"
                                                                                                },
                                                                                                {
                                                                                                    "Arg3": "spark.yarn.appMasterEnv.PYTHONIOENCODING=utf8"
                                                                                                },
                                                                                                {
                                                                                                    "Arg4": "--packages"
                                                                                                },
                                                                                                {
                                                                                                    "Arg5": "com.databricks:spark-redshift_2.11:3.0.0-preview1,org.apache.spark:spark-avro_2.11:2.4.4"
                                                                                                },
                                                                                                {
                                                                                                    "Arg6": "/home/hadoop/SparkTransform/SparkTransform.py"
                                                                                                },
                                                                                                {
                                                                                                    "Arg7.$": "$.jobsBucket"
                                                                                                },
                                                                                                {
                                                                                                    "Arg8": "analytics-job-files/tb_reg_employee_attr_br_analyticssec"
                                                                                                },
                                                                                                {
                                                                                                    "Arg9.$": "$.workflowName"
                                                                                                },
                                                                                                {
                                                                                                    "Arg10": "emplgroup_attr_br"
                                                                                                },
                                                                                                {
                                                                                                    "Arg11.$": "$.startDate"
                                                                                                },
                                                                                                {
                                                                                                    "Arg12.$": "$.lastDate"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "ResultPath": "$.taskresult",
                                                                                    "Next": "Exec_Spark_Job_J02_analytics-job-files/tb_reg_employee_attr_br_analyticssec"
                                                                                },
                                                     
                                                     "Exec_Spark_Job_J02_analytics-job-files/tb_reg_employee_attr_br_analyticssec": {
                                                                                "Type": "Task",
                                                                                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                                                                                "Parameters": {
                                                                                               "ClusterId.$": "$.clusterId",                    
                                                                                                 "Step": {
                                                                                                    "Name": "Spark_Job_J02_analytics-job-files/tb_reg_employee_attr_br_analyticssec",
                                                                                                    "ActionOnFailure": "CONTINUE",
                                                                                                    "HadoopJarStep": {
                                                                                                        "Jar": "command-runner.jar",
                                                                                                        "Args.$": "$.taskresult.StepArguments.Args[*][*]"
                                                                                                    }
                                                                                                 }
                                                                                },  
                                                                                "Retry": [
                                                                                            {
                                                                                                "ErrorEquals": ["States.ALL"],
                                                                                                "IntervalSeconds": 10,
                                                                                                "MaxAttempts": 1,
                                                                                                "BackoffRate": 1.5
                                                                                            }
                                                                                        ],
                                                                                 "Catch": [   {
                                                                                              "ErrorEquals": ["CustomError"],
                                                                                              "Next": "FailBranch_2"
                                                                                            }, 
                                                                                            {
                                                                                               "ErrorEquals": ["States.ALL"],
                                                                                               "Next": "FailBranch_2"
                                                                                            }
                                                                                        ],
                                                                                                            
                                                                                "ResultPath": "$.taskresult",
                                                                                "Next": "SuccessBranch_2"
                                                                            },
                                "SuccessBranch_2": {
                                                "Type": "Pass",
                                                "End": true
                                            },
                                "FailBranch_2": {
                                                    "Type": "Fail",
                                                    "Cause": "Level_Error",
                                                    "Error": "Level_Error"
                                                    }
                                            }},                   {
                                         "StartAt":"Spark_Job_J03_analytics-job-files/tb_reg_employee_attr_cl_analyticssec",
                                         "States":{
                                                            "Spark_Job_J03_analytics-job-files/tb_reg_employee_attr_cl_analyticssec": {
                                                                                    "Type": "Pass",
                                                                                    "Parameters": {
                                                                                        "StepArguments": {
                                                                                            "ClusterId.$": "$.clusterId",
                                                                                            "Args": [
                                                                                                {
                                                                                                    "Arg1": "/usr/bin/spark-submit"
                                                                                                },
                                                                                                {
                                                                                                    "Arg2": "--conf"
                                                                                                },
                                                                                                {
                                                                                                    "Arg3": "spark.yarn.appMasterEnv.PYTHONIOENCODING=utf8"
                                                                                                },
                                                                                                {
                                                                                                    "Arg4": "--packages"
                                                                                                },
                                                                                                {
                                                                                                    "Arg5": "com.databricks:spark-redshift_2.11:3.0.0-preview1,org.apache.spark:spark-avro_2.11:2.4.4"
                                                                                                },
                                                                                                {
                                                                                                    "Arg6": "/home/hadoop/SparkTransform/SparkTransform.py"
                                                                                                },
                                                                                                {
                                                                                                    "Arg7.$": "$.jobsBucket"
                                                                                                },
                                                                                                {
                                                                                                    "Arg8": "analytics-job-files/tb_reg_employee_attr_cl_analyticssec"
                                                                                                },
                                                                                                {
                                                                                                    "Arg9.$": "$.workflowName"
                                                                                                },
                                                                                                {
                                                                                                    "Arg10": "emplgroup_attr_cl"
                                                                                                },
                                                                                                {
                                                                                                    "Arg11.$": "$.startDate"
                                                                                                },
                                                                                                {
                                                                                                    "Arg12.$": "$.lastDate"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "ResultPath": "$.taskresult",
                                                                                    "Next": "Exec_Spark_Job_J03_analytics-job-files/tb_reg_employee_attr_cl_analyticssec"
                                                                                },
                                                     
                                                     "Exec_Spark_Job_J03_analytics-job-files/tb_reg_employee_attr_cl_analyticssec": {
                                                                                "Type": "Task",
                                                                                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                                                                                "Parameters": {
                                                                                               "ClusterId.$": "$.clusterId",                    
                                                                                                 "Step": {
                                                                                                    "Name": "Spark_Job_J03_analytics-job-files/tb_reg_employee_attr_cl_analyticssec",
                                                                                                    "ActionOnFailure": "CONTINUE",
                                                                                                    "HadoopJarStep": {
                                                                                                        "Jar": "command-runner.jar",
                                                                                                        "Args.$": "$.taskresult.StepArguments.Args[*][*]"
                                                                                                    }
                                                                                                 }
                                                                                },  
                                                                                "Retry": [
                                                                                            {
                                                                                                "ErrorEquals": ["States.ALL"],
                                                                                                "IntervalSeconds": 10,
                                                                                                "MaxAttempts": 1,
                                                                                                "BackoffRate": 1.5
                                                                                            }
                                                                                        ],
                                                                                 "Catch": [   {
                                                                                              "ErrorEquals": ["CustomError"],
                                                                                              "Next": "FailBranch_3"
                                                                                            }, 
                                                                                            {
                                                                                               "ErrorEquals": ["States.ALL"],
                                                                                               "Next": "FailBranch_3"
                                                                                            }
                                                                                        ],
                                                                                                            
                                                                                "ResultPath": "$.taskresult",
                                                                                "Next": "SuccessBranch_3"
                                                                            },
                                "SuccessBranch_3": {
                                                "Type": "Pass",
                                                "End": true
                                            },
                                "FailBranch_3": {
                                                    "Type": "Fail",
                                                    "Cause": "Level_Error",
                                                    "Error": "Level_Error"
                                                    }
                                            }},                   {
                                         "StartAt":"Spark_Job_J04_analytics-job-files/tb_reg_employee_attr_py_analyticssec",
                                         "States":{
                                                            "Spark_Job_J04_analytics-job-files/tb_reg_employee_attr_py_analyticssec": {
                                                                                    "Type": "Pass",
                                                                                    "Parameters": {
                                                                                        "StepArguments": {
                                                                                            "ClusterId.$": "$.clusterId",
                                                                                            "Args": [
                                                                                                {
                                                                                                    "Arg1": "/usr/bin/spark-submit"
                                                                                                },
                                                                                                {
                                                                                                    "Arg2": "--conf"
                                                                                                },
                                                                                                {
                                                                                                    "Arg3": "spark.yarn.appMasterEnv.PYTHONIOENCODING=utf8"
                                                                                                },
                                                                                                {
                                                                                                    "Arg4": "--packages"
                                                                                                },
                                                                                                {
                                                                                                    "Arg5": "com.databricks:spark-redshift_2.11:3.0.0-preview1,org.apache.spark:spark-avro_2.11:2.4.4"
                                                                                                },
                                                                                                {
                                                                                                    "Arg6": "/home/hadoop/SparkTransform/SparkTransform.py"
                                                                                                },
                                                                                                {
                                                                                                    "Arg7.$": "$.jobsBucket"
                                                                                                },
                                                                                                {
                                                                                                    "Arg8": "analytics-job-files/tb_reg_employee_attr_py_analyticssec"
                                                                                                },
                                                                                                {
                                                                                                    "Arg9.$": "$.workflowName"
                                                                                                },
                                                                                                {
                                                                                                    "Arg10": "emplgroup_attr_py"
                                                                                                },
                                                                                                {
                                                                                                    "Arg11.$": "$.startDate"
                                                                                                },
                                                                                                {
                                                                                                    "Arg12.$": "$.lastDate"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "ResultPath": "$.taskresult",
                                                                                    "Next": "Exec_Spark_Job_J04_analytics-job-files/tb_reg_employee_attr_py_analyticssec"
                                                                                },
                                                     
                                                     "Exec_Spark_Job_J04_analytics-job-files/tb_reg_employee_attr_py_analyticssec": {
                                                                                "Type": "Task",
                                                                                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                                                                                "Parameters": {
                                                                                               "ClusterId.$": "$.clusterId",                    
                                                                                                 "Step": {
                                                                                                    "Name": "Spark_Job_J04_analytics-job-files/tb_reg_employee_attr_py_analyticssec",
                                                                                                    "ActionOnFailure": "CONTINUE",
                                                                                                    "HadoopJarStep": {
                                                                                                        "Jar": "command-runner.jar",
                                                                                                        "Args.$": "$.taskresult.StepArguments.Args[*][*]"
                                                                                                    }
                                                                                                 }
                                                                                },  
                                                                                "Retry": [
                                                                                            {
                                                                                                "ErrorEquals": ["States.ALL"],
                                                                                                "IntervalSeconds": 10,
                                                                                                "MaxAttempts": 1,
                                                                                                "BackoffRate": 1.5
                                                                                            }
                                                                                        ],
                                                                                 "Catch": [   {
                                                                                              "ErrorEquals": ["CustomError"],
                                                                                              "Next": "FailBranch_4"
                                                                                            }, 
                                                                                            {
                                                                                               "ErrorEquals": ["States.ALL"],
                                                                                               "Next": "FailBranch_4"
                                                                                            }
                                                                                        ],
                                                                                                            
                                                                                "ResultPath": "$.taskresult",
                                                                                "Next": "SuccessBranch_4"
                                                                            },
                                "SuccessBranch_4": {
                                                "Type": "Pass",
                                                "End": true
                                            },
                                "FailBranch_4": {
                                                    "Type": "Fail",
                                                    "Cause": "Level_Error",
                                                    "Error": "Level_Error"
                                                    }
                                            }}],
            "ResultPath": "$.ParallelOutput_1",
            "OutputPath": "$.ParallelOutput_1[0]",
            "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.ParallelOutput_1",
                "Next": "WorkflowEnd"
            }],
            "Next": "WorkflowEnd"
        },
        "WorkflowEnd": {
            "Type": "Pass",
            "End": true
                    }
    }
    }